/*Google Fonts importieren*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Open+Sans:wght@400;700&display=swap');

/*Logo & Titel */
.logoTitle {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    font-weight: normal;
    color: #004080;
    margin-left: 10px;
}

/*Überschrift */
.title {
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    font-weight: normal;
    color: #004080;
    margin-left: 10px;
}